<div class="zxtg" {@if photo} style="background:url('http://img.hairbobo.com/${photo}');background-size:100% 100%;" {@else} style=" background: url(images/by.png) no-repeat center center;background-size: 100% 100%;" {@/if}>
<div class="zezao"></div>
    <div class="zixun">
        <a href="tel:${call}">
            <img src="images/daibai/ph.png" alt=""/>
        </a>
    </div>
    <span class="new">
            <img src="images/daibai/new.png" alt=""/><span>最新推广</span>
        </span>
    <div class="tg">
        <div class="spread">
            ${spread}
        </div>
    </div>
</div>