<a class="title" href="#classlist/${uid}">
    <img src="images/xxkc.png">
    <i class="iconfont icon" data-icon="&#xe600;"></i>
</a>

<div class="list" id="list">
    {@each goods4 as item, index}

    <a class="row" href="#detail/${item.id}/${uid}">
        <div class="col-25">
            <div class="img">
                <img src="http://img.hairbobo.com/${item.image}">
                <!--<img class="lazyload" data-original="http://img.hairbobo.com/${item.image}" src="images/pixel.gif">-->
            </div>
        </div>
        <div class="col-75 text">
            <div class="tit">
                ${item.title.slice(0,15)}
            </div>
            <div class="cnt">${item.moneyinfo}</div>
            <div class="boot">
                {@if item.bobogift!==''&&item.bobogift!==null}
                <span class="bbyl">波波有礼</span>
                {@/if}
                {@if item.gift!==''&&item.gift!==null}
                <span class="xyyl">学院有礼</span>
                {@/if}
                {@if item.vipsellingprice=='0'||item.vipsellingprice==null}
                <span class="price">${item.frontmoney}元</span>
                {@else}
                <span class="price">${item.frontmoney}元/${item.vipsellingprice}天</span>
                {@/if}
                <span class="city">${item.didname}</span>
            </div>
        </div>
    </a>
    {@/each}

</div>
<!--<div class="sljz">上拉加载更多</div>-->